<div class="col-12 d-flex justify-content-center align-items-center flex-column" id="baniere">
    <i class="mdi-maps-restaurant-menu fa-5x white-text"></i>
    <h3 class="lead white-text mont">hackEat 2020</h3>
    <small class="grey-text text-lighten-4">Votre application de gestion de nourriture pour le Technovore Hackathon
        2020</small>
</div>