<div id="fond" class="col-12 d-flex justify-content-center align-items-center flex-column">
    <i class="mdi-maps-restaurant-menu fa-5x purple-text animated infinite pulse"></i>
    <h3 class="lead purple-text mont">hackEat 2020</h3>
</div>