<div class="col-12 p-5">
    <div class="row">
        <div class="col-lg-5 col-md-12">
            <div class="">
                <h3 class="purple-text text-center" id="date"><%= date %></h3>
            </div>
            <div class="row">
                <div class="col-5 flex-column d-flex justify-content-center align-items-center" id="imgForm">
                    <i class="mdi-action-query-builder fa-5x"></i>
                    <h4>Matin</h4>
                    <h5><%= heure %> : <%= minute %></h5>
                </div>
                <form class="col-7 white p-5 ombre">
                    <div class="form-group">
                        <label for="id" class="purple-text font-weight-bold">Identifiant</label>
                        <input autocomplete="off" id="focus" class="form-control-plaintext lighten-5 p-2 purple text-right"
                            type="text" name="">
                        <small class="blue-grey-text">Veuillez entrer l'identifiant du candidat</small><br>
                        <small class="font-weight-bold" id="msg"></small>
                    </div>
                    <button disabled="true" class="btn orange white-text mt-1" type="button" id="butManger">Servir</button>
                </form>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="row p-5">
                <div id="personn" class="d-flex ombre justify-content-center flex-column text-center p-3 col-12">
                    <i class="mdi-hardware-security fa-5x text-secondary"></i>
                    <div class="text-left">
                        <small class="grey-text">Id : <b id="id"></b></small><br>
                        <small class="grey-text">nom : <b id="nom"></b></small><br>
                        <small class="grey-text">Equipe : <b id="equipe"></b></small>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="row p-5">
                <div class="alert alert-warning col-12 m-1" role="alert">
                    <b id="platTotal"></b> plat(s) au total
                </div>
                <div class="alert alert-info col-12 m-1" role="alert">
                    <b id="platConsomme"></b> plat(s) consommé(s)
                </div>
                <div class="alert alert-success col-12 m-1" role="alert">
                    <b id="platRestant"></b> plat(s) restant(s)
                </div>
                <div class="alert alert-danger col-12 m-1" role="alert">
                    <b id="platImprevu"></b> plat(s) imprevu(s)
                </div>
            </div>
        </div>
    </div>
</div>